
body  { 
	font-family:Verdana, Geneva, sans-serif; 
	font-size:10pt; 
	color:#000000; 
}

table{
  table-layout:fixed;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 98%;
}

td{
	padding: 7px;
	
	font-family:Verdana, Geneva, sans-serif; 
	font-size:10pt; 
	color:#000000;
}

a:link { 
	color:#000000; 
	text-decoration:none; 
}

a:visited { 
	color:#828282; 
	text-decoration:none; 
}

input{ 
	font-family:monospace; 
	font-size:10pt; 
	color:#000000; 
}

h3{ 
    margin-top: 0.1em;
    margin-bottom: 0.3em;
}

h4{ 
    margin-top: 0;
    margin-bottom: 0.1em;
}

div.scroll{
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

#layout-table{
	width: 90%;
	height: 99%;
	margin-left:5%; 
    margin-right:5%;
}

#data-table{
	border: 0px;
}
#outer{
	border: 0px;

}
#top{
	height: 20px;
}

#filters-td{
	width: 200px;
	vertical-align: top;
	border: 1px solid #000000;
}

#search{
	height: 50px;
}

input[type=text]{
	width: 60%;
	font-family:monospace; 
	font-size:10pt; 
	color:#000000;
}

input[type="submit"] { 
	font-family:Verdana, Geneva, sans-serif; 
}